.investments-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: start !important;
  gap: 1em;
}

.investments-list-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 25%;
  background-color: var(--primary-background-color);
  border-radius: var(--primary-border-radius);
}

.investment-filters-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.investments-list-rectangle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 6.5rem;
  width: 95%;
  gap: 0.5em;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: var(--primary-border-radius);
  padding: 0.2rem 1rem;
  overflow-x: scroll;
  overflow-y: hidden;
}

.selected-investment-card {
  background-color: rgb(255, 255, 255) !important;
  color: black;
}

.add-investment-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}

.add-investment-button {
  height: 90%;
  background-color: var(--secondary-background-color);
}

.add-investment-button:hover {
  color: black;
}

.investment-card {
  background-color: var(--secondary-background-color);
  text-align: center;
  margin: 0.2em;
  padding: 1em;
  height: 90%;
}

.investment-card:hover {
  color: black;
}

.investment-display-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: var(--primary-background-color);
  border-radius: var(--primary-border-radius);
  height: 75%;
}

.investment-add-delete-table-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 50%;
  height: 100%;
  padding: 1em;
}

.investments-add-delete-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1em;
}

.investments-table-container {
  width: 100%;
  height: 100%;
  margin-top: 1em;
}

.investments-display-container {
  width: 50%;
  height: 100%;
  padding: 1em 0 0 0;
}

.add-statement-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}

.add-investment-button-container {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.add-statement-button-container {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}
