.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 90%;
  gap: 20px;
}

.networth-profile-container {
  display: flex;
  flex-direction: row;
  height: 50%;
  gap: 20px;
}

.networth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-background-color);
  border-radius: var(--primary-border-radius);
  height: 100%;
  width: 100%;
}

.profile-container {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-background-color);
  border-radius: var(--primary-border-radius);
}

.recent-activity-investments-summary-container {
  display: flex;
  flex-direction: column;
  height: 50%;
  gap: 1em;
}

.recent-activity-container {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-background-color);
  border-radius: var(--primary-border-radius);
}

.investments-summary-container {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-background-color);
  border-radius: var(--primary-border-radius);
}
