.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 20px;
}

.networth-profile-container {
  display: flex;
  flex-direction: row;
  height: 50%;
  gap: 20px;
}

.networth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-background-color);
  border-radius: var(--primary-border-radius);
  height: 100%;
  width: 100%;
}

.profile-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-background-color);
  border-radius: var(--primary-border-radius);
}

.financial-calendar-trends-container {
  display: flex;
  height: 50%;
  gap: 1em;
}

.financial-calendar-container {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-background-color);
  border-radius: var(--primary-border-radius);
}

.trends-container {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-background-color);
  border-radius: var(--primary-border-radius);
}
